parameters:
	ignoreErrors:
		-
			message: '#^Class App\\Models\\User not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/mfa.php

		-
			message: '#^Method Worksome\\MultiFactorAuth\\Models\\MultiFactor\:\:user\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<Worksome\\MultiFactorAuth\\Models\\MultiFactor, Illuminate\\Database\\Eloquent\\Model&Worksome\\MultiFactorAuth\\Contracts\\MultiFactorAuthenticatable\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<Illuminate\\Database\\Eloquent\\Model&Worksome\\MultiFactorAuth\\Contracts\\MultiFactorAuthenticatable, \$this\(Worksome\\MultiFactorAuth\\Models\\MultiFactor\)\>\.$#'
			identifier: return.type
			count: 1
			path: src/Models/MultiFactor.php
